<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mytest.ssm.dao.UserMapper">
 <select id="findByUsername" parameterType="java.lang.String" resultType="com.mytest.ssm.pojo.UserInfo">
  SELECT * FROM user_info WHERE username=#{username}
 </select>
</mapper>